
<!-- from https://treehouse-blog.s3.amazonaws.com/Respond-Menu/index.html# -->
<!-- css: in https://treehouse-blog.s3.amazonaws.com/Respond-Menu/css/styles.css -->
<header>
		<a href="/index" id="logo"></a>
		<nav>
			<a href="#" id="menu-icon"></a>
			<ul>
				<li class="menu"><a href="/index" class="current">Home</a></li>
				<li class="menu"><a href="/projects">Projects</a></li>
				<li class="menu"><a href="/events">Events</a></li>
				<li class="menu"><a href="/people">People</a></li>
				<li class="menu"><a href="/contact">Contact</a></li>
			</ul>
		</nav>
	</header>
