<!-- menu is based on https://w3bits.com/css-html-menu/ -->
<a href="{{ site.url }}{{ site.baseurl }}/index"><img src="{{ site.url }}{{ site.baseurl }}/assets/img/logo.png"></a>
<nav class="navigation">
  <ul class="menu">
    <!-- <li><a href="{{ site.url }}{{ site.baseurl }}/index">{{site.title}}</a></li> -->
    <li><a href="{{ site.url }}{{ site.baseurl }}/index">HOME</a></li>
    <li><a href="{{ site.url }}{{ site.baseurl }}/projects">PROJECTS</a></li>
    <li><a href="{{ site.url }}{{ site.baseurl }}/events">EVENTS</a></li>
    <li><a href="{{ site.url }}{{ site.baseurl }}/people">PEOPLE</a></li>
    <li><a href="{{ site.url }}{{ site.baseurl }}/contact">CONTACT</a></li>
  </ul><!-- .menu -->
</nav><!-- .navigation -->
