<!-- menu is based on https://w3bits.com/css-html-menu/ -->
<nav class="navigation">
  <ul class="menu">
    <li><a href="{{ site.url }}{{ site.baseurl }}/index"><img src="{{ site.url }}{{ site.baseurl }}/assets/img/logo.png"></a></li>
    <li><a href="{{ site.url }}{{ site.baseurl }}/index">{{site.title}}</a></li>
    <li><a href="{{ site.url }}{{ site.baseurl }}/index">Home</a></li>
    <li><a href="{{ site.url }}{{ site.baseurl }}/projects">Projects</a></li>
    <li><a href="{{ site.url }}{{ site.baseurl }}/events">Events</a></li>
    <li><a href="{{ site.url }}{{ site.baseurl }}/people">People</a></li>
    <li><a href="{{ site.url }}{{ site.baseurl }}/contact">Contact</a></li>
  </ul><!-- .menu -->
</nav><!-- .navigation -->
