<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width; initial-scale=1; maximum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="{{ site.description }}">
  <title>{{ page.title }} - {{site.title}}</title>
    <link rel="stylesheet" href="{{ "/assets/style.css" | relative_url }}">
</head>
<body>
  <header>
    <!-- <p>header content: </p> -->
    {% include header.html %}
  </header>
  <main>
    <!-- <p>main content: </p> -->
      {{ content }}
  </main>
  <footer>
    <!-- <p>footer content: </p> -->
  </footer>
</body>
</html>
